h1 {
    text-align: center; 
    font-size: 2.5em; 
    margin-top: 20px; 
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #2c5042;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-gallery img {
    width: 32%; 
    height: 400px; 
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #b3d4c4;
    color: white;
    border-radius: 8px;
}


footer a:hover {
    text-decoration: underline;
}


main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p, ul {
    margin-bottom: 20px;
}